body {
    background-color: #F6F7C1;
}

.container {
    display: flex;
    justify-content: center;
}

.btnRemove {
    margin-top: 20px;
    background-color: #86E5FF;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.btnDelete {
    margin-top: 20px;
    background-color: #FFB84C;
    border: none;
    border-radius: 20px;
    padding: 20px;
}